<div class="columns">
  <div class="column is-half is-fullheight has-background-dark has-content-vcentered has-content-hcentered">
    <%= image_tag("logo.png", :width => "300px") %>
  </div>
  <div class="column is-half is-fullheight has-background-white has-content-vcentered">
    <div class="container">
      <div class="form">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :email, class: "label" %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.submit "Resend Confirmation Instructions", class: "button is-link is-fullwidth" %>
            </div>
          </div>
          <div class="field has-text-centered">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
