<%= render partial: "shared/navbar" %>
<div class="container">
  <div class="columns is-mobile is-vcentered">
    <nav class="breadcrumb column is-three-fifths-mobile" aria-label="breadcrumbs">
      <ul>
        <li>
          <%= link_to("Home", root_path) %>
        </li>
        <li>
          <%= link_to("Characters", characters_path) %>
        </li>
        <li class="is-active">
          <%= link_to(@character.name, character_path) %>
        </li>
      </ul>
    </nav>
    <div class="buttons column is-two-fifths-mobile has-text-right">
      <%= link_to("Edit Character", edit_character_path, class: "button is-link") %>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column">
      <%= render "form", character: @character, disabled: true %>
    </div>
  </div>
</div>
