<div class="columns">
  <div class="column is-half is-fullheight has-background-dark has-content-vcentered has-content-hcentered">
    <%= image_tag("logo.svg", :width => "300px") %>
  </div>
  <div class="column is-half is-fullheight has-background-white has-content-vcentered">
    <div class="container">
      <div class="form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :login, class: "label", value: "Email or Username" %>
            <div class="control">
              <%= f.text_field :login, autofocus: true, autocomplete: "login", class: "input", required: "true" %>
            </div>
          </div>
          <div class="field">
            <%= f.label :password, class: "label" %>
            <div class="control">
              <%= f.password_field :password, autocomplete: "current-password", class: "input", required: "true" %>
            </div>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <label class="checkbox">
                <%= f.check_box :remember_me %>
                Remember me
              </label>
            </div>
          <% end %>
          <div class="field">
            <div class="control">
              <%= f.submit "Login", class: "button is-link is-fullwidth" %>
            </div>
          </div>
          <div class="field has-text-centered">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= devise_error_messages! %>
