<!DOCTYPE html>
<html>
  <head>
    <title>Jester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>
    <div class="notifications">
      <% flash.each do |key, value| %>
        <div class="notification <%= flash_class(key) %>">
          <button class="delete" onclick="this.parentNode.remove();"></button>
          <%= value %>
        </div>
      <% end %>
    </div>
  </body>
</html>
